.LanguageChanger {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

Button {
    border-radius: 2px;
    border-color: black;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.act {
    background-color: rgb(204, 78, 11); ;
}